{% extends "management/base.html" %}


{% block title %} Attendance Record {% endblock %}


{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white;">
						<table class="table" style="color: white;font-weight: bold">
							<h5 class="text-center">Student Attendance Record</h5>
							<h5 class="text-center"><b style="color:orange;">course : {{request.user.teachersubjectregistration.course}} , Subject : {{request.user.teachersubjectregistration.subject}}</b></h5><hr>
							<h5>Teacher Name : {{request.user.first_name}}{{request.user.last_name}}</h5>
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Student</th>
									<th scope="col">Date</th>
									
									<th scope="col">Status</th>
									<th>Action</th>

								</tr>
							</thead> 
							<tbody>
								{% for attendance in page_obj %}
								<tr>
									<th scope="row">{{attendance.id}}</th>
									<td>{{attendance.student}}</td>
									<td>{{attendance.date}}</td>
									<td>{{attendance.status}}</td>
									<td>
										<a href="/management/update-attendance-record/{{attendance.id}}"><button class="btn btn-warning">Update</button></a>
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button></a>
									</td>
								</tr>
								<div class="modal" id="myModal">
									<div class="modal-dialog">
					  					<div class="modal-content">
					  	
					    					<div class="modal-header">
					        					<h4 class="modal-title" style="color:black;">Are you sure you delete this attendance? <b>Student: {{attendance.student}}</b></h4>
					        					<button type="button" class="close" data-dismiss="modal">&times;</button>
					      					</div>
					      					<div class="modal-footer">
        										<a href="/management/delete-attendance-record/{{attendance.id}}"><button type="button" class="btn btn-success" value="True">Confirm</button></a>
        										<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      										</div>

										</div>
   
  									</div>
								</div>

								{% endfor %}
							</tbody>
						</table>
						<div class="pagination">
    						<span class="step-links" style="font-weight: bold;">
       						{% if page_obj.has_previous %}
            					<a href="?page=1">&laquo; first </a>
            					<a href="?page={{ page_obj.previous_page_number }}"> previous </a>
        					{% endif %}

        					<span class="current">
            				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        					</span>

        					{% if page_obj.has_next %}
            					<a href="?page={{ page_obj.next_page_number }}"> next </a>
            					<a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
        					{% endif %}
    						</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
		


{% endblock %}
