{% extends "management/base.html" %}


{% block title %} attendance view {% endblock %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-4 text-center" >
								<h5>Name : {{student}} {{student.user.last_name}}</h5>
								<h5>Course : {{student.course}}</h5><br>
								<div class="small-box" style="color: black; border: 2px solid black; background: white; border-radius: 30px;">
									<h5>Total Persent : {{persent}}</h5><hr>
									<h5>Total Absent : {{absent}}</h5>
								</div>	
							</div>
							<div class="col-md-8">
								<h5>More Information:</h5><hr>
								{% if page_obj %}
								<table class="table" style="color: white;font-weight: bold">
									<thead>
										<tr>
											
											<th scope="col">Date</th>
											<th scope="col">Subjects</th>
											<th scope="col">Status</th>
											<th scope="col">Teachers</th>
										</tr>
									</thead> 
									<tbody>
										{% for attendance in page_obj %}
										<tr>
											
											<td>{{attendance.date}}</td>
											<td>{{attendance.subjects}}</td>
											<td>{{attendance.status}}</td>
											<td>{{attendance.teacher}}</td>

										</tr>
										{% endfor %}
									</tbody>
								</table>
								<div class="pagination">
    							<span class="step-links" style="font-weight: bold;">
       							{% if page_obj.has_previous %}
            						<a href="?page=1">&laquo; first </a>
            						<a href="?page={{ page_obj.previous_page_number }}"> previous </a>
        						{% endif %}

        						<span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>

        						{% if page_obj.has_next %}
            					<a href="?page={{ page_obj.next_page_number }}"> next </a>
            					<a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
        						{% endif %}
    							</span>
								</div>
								{% else %}
								<h5>No more information!</h5>
								{% endif %}
							</div>
						</div>
					</div>	
				</div>	
			</div>
		</div>
	</div>		
		


{% endblock %}