{% extends "management/base.html" %}

{% block title %} take attendance{% endblock %}
{%load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-4">
								<form action="" method="post" class="" style="font-weight: bold">
									<h5 style="text-align: center;">Update Attendance</h5><hr>
									{% csrf_token %}
									<div class="form-group">
										Subjects:
										<select id="subject" class="form-control" name="subjects">
											{% for subject in subjects %}
												{% ifequal subject.id form.subjects.value %}
												<option value="{{subject.id}}" selected>{{subject}}</option>
												{% else %}
													<option value="{{subject.id}}">{{subject}}</option>
												{%endifequal %}
											{% endfor %}
										</select>
										Date:
										{{form.date}}
										Students:
										<div id="student">
											<select  class="form-control" name="students">
												{% for student in students %}
													{% ifequal student.id form.students.value %}
														<option value="{{student.id}}" selected>{{student}}</option>
													{% else %}
														<option value="{{student.id}}">{{student}}</option>
													{%endifequal %}
												{% endfor %}
											</select>
										</div>
										
										Status:
										<select id="status"  class="form-control" name="status">
											{% ifequal 'persent' form.initial.status%}
												<option value="persent" selected>Persent</option>
												<option value="absent">Absent</option>
											{% else %}
												<option value="persent">Persent</option>
												<option value="absent" selected>Absent</option>
											{% endifequal %}
										</select>
									</div>
									<div class="form-group text-center">
										<input type="submit" name="Update" class="btn btn-primary text-center" value="Update" >
									</div>
								</form>
							</div>
							<div class="col-md-8">
								<div class="text-center">
									<h5>Online Attendance Management System</h5><hr>
									<img src="{% static 'images/upattendance.jpg'%}" style="height: 270px; width: 420px;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

{% endblock %}

