{% extends "management/base.html" %}
{% load static %}
{% block title %} Login Form {% endblock %}
{%load crispy_forms_tags %}
{% block content %}

	<div class="container" style="">
		<div class="" style="margin: 10px;">
			<div class="card bg-dark col-md-6">
				<div class="card-body" style="color: white;">
					<div class="col-md-6">
						<br>
						<form action="" method="post" class="" style="width: 400px;">
							<h5 style="text-align: center">Change Password</h5><hr>
							{% csrf_token %}
								
							{{form.as_p}}
							<br>	
							<div class="form-group text-center">
								<input type="submit" name="submit" class="btn btn-primary text-center" value="submit" >
							</div>

						</form>			
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}