{% extends "management/base.html" %}
{% load static %}
{% block title %} course registeration {% endblock %}
{%load crispy_forms_tags %}

{% block content %}

	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-6">
								<form action="" method="post" class="">
									<h5 style="text-align: center">Course Registration</h5><hr>
									{% csrf_token %}
									<div class="form-group">
										Course:
										<select id="course"  class="form-control" name="course">
											<option value="0">select any one</option>
											{% for course in courses %}
												<option value="{{course.id}}">{{course}}</option>	
											{% endfor %}
										</select>
										<br>
										Subjects:
										<p id="subject">first for select course!</p>
									</div>							
									<div class="form-group text-center">
										<input type="submit" name="submit" class="btn btn-primary text-center" value="Register" >
									</div>
								</form>
							</div>
							<div class="col-md-6 text-center">
								<img src="{% static 'images/register.jpg' %}" alt="register" width="350" height="300" style="margin-top: 35px;">
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
 </div>
{% endblock %}

