{% if page_obj %}
	<table class="table" style="color: white">
		<thead>
			<h5>Attendance Information:</h5>
			<h5 style="color:orange"><b>Course: {{teacher.course}} </b> <b style="color: white">Date : {{today}}</b></h5>
			<h5>Subject : {{subject}}</h5>
			<tr>
				<th scope="col">Students</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for student in page_obj %}
				<tr>
					<td><b>{{student}}</b></td>
					<td>
						{% if student in take_attendance %}
						<button class="btn btn-secondary">Taked</button>
						{% else %}
						<a href="/management/attendance-persent/{{student.id}}/{{subject}}"><button class="btn btn-info">Persent</button></a>
						<a href="/management/attendance-absent/{{student.id}}/{{subject}}"><button class="btn btn-primary">Absent</button></a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}