{% extends "management/base.html" %}
{% load static %}
{% block title %} Login Form {% endblock %}
{%load crispy_forms_tags %}
{% block content %}

	<div class="container" style="">
		<div class="" style="margin: 10px;">
			<div class="card bg-black col-md-6 ">
				<div class="card-body" style="color: black;">
					<h4 class="text-center">Check your email</h4><hr>
					<p>Password reset instructions have been sent successfully via email.</p>
					<p>If you don’t get the email, please check your spam folder.</p>
					<p>If you need more help, please contact <a>our support team.</a></p><br>
					<a href="/management/"><button class="btn btn-info"><b style="color:white">Go To Home</b></a></button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}