{% extends "management/base.html" %}
{% load static %}
{% block title %} Login Form {% endblock %}
{%load crispy_forms_tags %}
{% block content %}

	<div class="container" style="" >
		<div class="">
			<div class="card bg-dark col-md-10" style="margin: 25px; align-items: center;">
				<div class="card-body" style="color: white;">
					<div class="col-md-6">
						<br>
						<form action="" method="post" class="reset-form" style="width: 400px;">
							
							<h5 style="text-align: center">Forgot Password?</h5><hr>
							<p>Enter your registration email.</p>
							{% csrf_token %}
							{{form.as_p}}
							<h6><a href="/management/login/" style="color:white"><i class="fa fa-arrow-left" aria-hidden="true" style="border:2px solid gray; border-radius:50px; background:gray"></i> Go Back</a></h6>
							<br>	
							<div class="form-group text-center">
								<a href=""><button class="btn btn-success"><b>Send Reset Instructions</b></button></a>
							</div>
						</form>			
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}