{% extends "management/base.html" %}

{% block title %} take attendance{% endblock %}
{%load crispy_forms_tags %}
{% load static %}

{% block content %}

	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-4 ">
								<h5 style="text-align: center">Take Attendance</h5>
								<hr>
								{% csrf_token %}
								<div class="form-group">
									Subjects:
									<select id="subject" class="form-control" name="subjects">
										<option value="0">select any one</option>
										{% for subject in subjects %}
											<option value="{{subject.id}}" {% ifequal subject  subject_value%} selected {% endifequal %}>{{subject}}</option>
										{% endfor %}
									</select>
								</div>
								<br>
							</div>
							<div class="col-md-8 text-center">
								<div id="attendance">
									<img src="{% static 'images/attendance.jpg'%}" style="height: 300px; width: 450px;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

{% endblock %}
