{% extends "management/base.html" %}

{% block title %} take attendance{% endblock %}
{%load crispy_forms_tags %}
{% load static %}

{% block content %}

	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			
			<div class="col-md-8">
				<div class="card bg-info">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-4 ">
								<form action="" method="post" class="">
									<h5 style="text-align: center">Take Attendance</h5>

									<hr>
									{% csrf_token %}
							
									{{form.as_p}}
									{% for error in field.errors %}
										<p style="color: red">{{error}}</p>
									{% endfor %}
									<div class="form-group text-center">
										<input type="submit" name="Submit" class="btn btn-primary text-center" value="Submit" >
									</div>
								</form>
							</div>
							<div class="col-md-8 text-center">
								{% if attendance %}
								<table class="table">
									<thead>
										<h5>Attendance Information:</h5>
										<h5 style="color:black"><b>Course: {{request.user.teachersubjectregistration.course}} , Subject: {{request.user.teachersubjectregistration.subject}}</b></h5><hr>
										<h5 style="color:black"><b>Date : {{today}}</b></h5>
										

										<tr>
											<th scope="col">Student</th>
											<th scope="col">Status</th>
											<th scope="col">Action</th>
										</tr>
										
									</thead>
									<tbody>
										{% for attendance in attendance %}
											<tr>
											
												<td><b>{{attendance.student}}</b></td>
												<td><b>{{attendance.status}}</b></td>
												<td>
													<a href="/management/update-attendance/{{attendance.id}}"><button class="btn btn-warning">Update</button></a>
													<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
												</td>
											</tr>
										<div class="modal" id="myModal">
											<div class="modal-dialog">
					  							<div class="modal-content">
					  	
					    							<div class="modal-header">
					        							<h4 class="modal-title" style="color:black;">Are you sure you delete this attendance? <b>Student: {{attendance.student}}</b></h4>
					        							<button type="button" class="close" data-dismiss="modal">&times;</button>
					      							</div>
					      							<div class="modal-footer">
        												<a href="/management/delete-attendance/{{attendance.id}}"><button type="button" class="btn btn-success" value="True">Confirm</button></a>
        												<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      												</div>

												</div>
   
  											</div>
										</div>
											{% endfor %}
										
									</tbody>

									
								</table>
								{% else %}
								<div class="">
									<img src="{% static 'images/attendance.jpg'%}" style="height: 300px; width: 450px;">
									
								</div>
								
								{% endif %}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>	
	</div>

{% endblock %}