{% extends "management/base.html" %}


{% block title %} Course Details {% endblock %}


{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			
		<div class="col-md-8">
			<div class="card bg-info">
				<div class="card-body" style="color: white;margin-left: 10%;">
					<form action="" method="post" class="" style="width: 400px;">
						<h1 style="text-align: center">Subject Registration</h1><hr>
						{% csrf_token %}
						{% for field in form %}
						<div class="field">
							<label for="{{field.id_for_label}}" class="label">{{field.html_name}}:</label>
							{{field}}
							{% for error in field.errors %}
							<p style="color: red">{{error}}</p>
							{% endfor %}
						</div>
						{% endfor %}

						<div class="form-group text-center">
							<input type="submit" name="Register" class="btn btn-primary text-center" value="Register" >
						</div>
			</form>
						
					</div>
					
				
						
					
			</div>
		</div>
			
		
	
	</div>		
	


{% endblock %}
