{% extends "management/base.html" %}

{% block title %} profile update {% endblock %}
{%load crispy_forms_tags %}
{% block content %}
	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white">
						<form action="" class="" method="post"  enctype="multipart/form-data" style="font-weight: bold">
							<h5 style="text-align: center">Update User Detail</h5><hr>
							{% csrf_token %}		
							<div class="row form-group">
								<div class="col-md-6">
									First Name:
									{{form.first_name}}
								</div>
								<div class="col-md-6">
									Last Name:
									{{form.last_name}}
								</div>	
								<div class="col-md-6">
									Username:
									{{form.username}}
								</div>
								<div class="col-md-6">
									Email:
									{{form.email}}
								</div>
								<div class="col-md-6">
									Phone:
									{{form.phone}}
								</div>
								<div class="col-md-6">
									Gender:
									{{form.gender}}
								</div>
								<div class="col-md-6">
									Role:
									<select name="role" class="form-control" id="id_role">
									<option value="{{form.role.value}}" selected>{{form.role.value}}</option>
									</select>
								</div>
								<div class="col-md-6">
									Street:
									{{form.street}}
								</div>
								<div class="col-md-6">
									City:
									{{form.city}}
								</div>
								<div class="col-md-6">
									State:
									{{form.state}}
								</div>
								<div class="col-md-6">
									Pincode:
									{{form.pincode}}
								</div>
								<div class="col-md-6"><br>
									{% if user.userprofile.image %}
										<img src="{{user.userprofile.image.url}}" alt="image here" height="50px;" width="50px;"><br>
									{% endif %}	
									Image:
									{{form.image}}
							</div>											
							</div>
							<div class="form-group text-center">
								<input type="submit" name="Update" class="btn btn-warning text-center" value="update" >
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}