{% extends "management/base.html" %}

{% block title %} update leave {% endblock %}
{%load crispy_forms_tags %}
{% block content %}

	<div class="container-fluid" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			<div class="col-md-8">
				<div class="card bg-dark">
					<div class="card-body" style="color: white">
						<form action="" method="POST" class="" style="font-weight: bold">
							<h5 style="text-align: center">Update Leave</h5><hr>
							{% csrf_token %} 
							{{form|crispy}}
							<div class="text-center">
								<input type="submit" name="Update" class="btn btn-warning text-center" value="Update" >
							</div>
  					</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}