{% extends "management/base.html" %}

{% block title %} Login Form {% endblock %}
{%load crispy_forms_tags %}
{% block content %}

	<div class="container" style="">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>

			<div class="col-md-8">
				<div class="" style="margin: 10px;">
					<div class="card bg-dark">
						<div class="card-body" style="color: white;">
							<form action="" method="post" class="main" style="width: 400px;" enctype="multipart/form-data">
								<h5 style="text-align: center">Create Profile</h5><hr>
								{% csrf_token %}
								{{form.as_p}}
								<br>
								<div class="form-group text-center">
									<input type="submit" name="Submit" class="btn btn-primary text-center" value="Submit" >
								</div>
							</form>		
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
			
			
	
		
		
	
		
	</div>

{% endblock %}