{% extends "management/base.html" %}


{% block title %} user apply leave {% endblock %}

{%load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			
			<div class="col-md-8">

				<div class="card bg-info">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-4">
								<h5 class="text-center">Send Feedback</h5><hr>
								<form class="row g-2 mt-3" class="main" action="" method="post" enctype="multipart/form-data">
								{% csrf_token %} 
								{{form|crispy}}
								<div class="form-group text-center">
									<button type="submit" class="btn btn-success ">Send</button>
								</div>
								</form>
								
							</div>
							<div class="col-md-8">
								<h5 class="text-center">Feedback Information</h5><hr>
								{% if feedback_list %}
								<table class="table">
									
									<h5>Name : {{request.user.first_name}} {{request.user.last_name}}</h5>
									<thead>
										<tr>
		               						<th scope="col">Date</th>
		               						<th scope="col">Feedback Messages</th>
		               						<th>Feedback Reply</th>
		               						<th>Action</th>
		               	 				 </tr>
										
									</thead> 
									{% if feedback_list %}
		               				
		               				<tbody>
		               					{% for feedback in feedback_list %} 
		               	 				<tr>
		               	 					<td scope="row">{{feedback.created_at}}</td>
		               	 					<td>{{feedback.feedback_message}}</td>
		               	 					<td>{{feedback.feedback_reply}}</td>
											<td>
											<div class="row">
												<div class="col-md-6">
													<a href="/management/update-feedback/{{feedback.id}}"><button class="btn btn-warning">Update</button></a>
							
												</div>

												<div class="col-md-6">
													
													<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
							
												</div>
											</div>
											</td>
										</tr>
										<div class="modal" id="myModal">
											<div class="modal-dialog">
					  							<div class="modal-content">
					  	
					    							<div class="modal-header">
					        							<h4 class="modal-title" style="color:black;">Are you sure you delete this feedback?</h4>
					        							<button type="button" class="close" data-dismiss="modal">&times;</button>
					      							</div>
					      							<div class="modal-footer">
        												<a href="/management/delete-feedback/{{feedback.id}}"><button type="button" class="btn btn-success" value="True">Confirm</button></a>
        												<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      												</div>

												</div>
   
  											</div>
										</div>
									{% endfor%}
									</tbody>
								
                        			{% endif %}
								</table>
								{% else %}
								<div class="text-center">
									<h5><b>You did not send any feedback so you have no any feedback information!</b></h5><br>
									<img src="{% static 'images/feedback.jpg' %}" alt="register" width="350" height="200"><br><br>
								{% endif %}
									
								</div>
								
								
							</div>

							
						</div>
						
							
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}



