{% extends "management/base.html" %}


{% block title %} user feedback {% endblock %}

{%load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="container" id="feedback">
		<div class="row">
			<div class="col-md-4">
				{% include 'management/sidebar.html'%}
			</div>
			<div class="col-md-8">

				<div class="card bg-dark">
					<div class="card-body" style="color: white;">
						<div class="row">
							<div class="col-md-4">	
								<form action="" method="POST" class="feedback-form">
									<h5 class="text-center">Send Feedback </h5><hr>
									
									{% csrf_token %}
									{{ form.as_p}}
									<div class="form-group text-center">
            	    	<button type="submit" class="btn btn-primary ">Send</button>
            	   	</div>
								</form>
							</div>
							<div class="col-md-8">
								<br>
								<h5 class="text-center">Feedback Information</h5><hr>
								{% if page_obj %}
								<table class="table" style="color: white;font-weight: bold">
									
									<h5>Name : {{request.user.first_name}} {{request.user.last_name}}</h5>
									<thead>
										<tr>
											<th scope="col">Date</th>
											<th scope="col">Feedback Messages</th>
											<th>Feedback Reply</th>
											<th>Action</th>
										 </tr>
										
									</thead> 
									{% if page_obj %}
									
									<tbody>
										{% for feedback in page_obj %} 
										<tr>
											<td scope="row">{{feedback.created_at}}</td>
											<td>{{feedback.feedback_message}}</td>
											<td>{{feedback.feedback_reply}}</td>
											<td>
											<div class="row">
												<div class="col-md-6">
													<a href="/management/update-feedback/{{feedback.id}}"><button class="btn btn-warning"><i class="fa fa-edit"></i></button></a>
							
												</div>

												<div class="col-md-6">
													
													<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash"></i></button>
							
												</div>
											</div>
											</td>
										</tr>
										<div class="modal" id="myModal">
											<div class="modal-dialog">
												<div class="modal-content">
						
													<div class="modal-header">
														<h4 class="modal-title" style="color:black;">Are you sure you delete this feedback?</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-footer">
														<a href="/management/delete-feedback/{{feedback.id}}"><button type="button" class="btn btn-success" value="True">Confirm</button></a>
														<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
													</div>

												</div>
   
											</div>
										</div>
									{% endfor%}
									</tbody>
								
									{% endif %}
								</table>
								<div class="pagination">
									<span class="step-links" style="font-weight: bold;">
									{% if page_obj.has_previous %}
										<a href="?page=1">&laquo; first </a>
										<a href="?page={{ page_obj.previous_page_number }}"> previous </a>
									{% endif %}

									<span class="current">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
									</span>

									{% if page_obj.has_next %}
										<a href="?page={{ page_obj.next_page_number }}"> next </a>
										<a href="?page={{ page_obj.paginator.num_pages }}"> last &raquo;</a>
									{% endif %}
									</span>
								</div>
								{% else %}
								<div class="text-center">
									<h5><b>You did not send any feedback so you have no any feedback information!</b></h5><br>
									<img src="{% static 'images/feedback.jpg' %}" alt="register" width="350" height="200"><br><br>
								{% endif %}
									
								</div>
								
								
							</div>

							
						</div>
						
							
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}



